@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Roboto:wght@300;400&display=swap');

:root {
  --primary-color: #fe2c55;
  --text-color: rgba(22, 24, 35, 1);
  --default-layout-header-height: 60px;
  --default-layout-width: 100%;
  --max-width-layout: 1150px;
  --grey-hover: rgba(22, 24, 35, 0.03);
  --primary-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  --color-grey-border: rgba(22, 24, 35, 0.12);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed; //
  line-height: 1.5;
}

// Font embedded
@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('/assets/fonts/sofiapro-bold.woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('/assets/fonts/sofiapro-bold.woff2');
  font-weight: 700;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  color: var(--text-color);
}

.w-full {
  width: 100%;
}

.tippy-content {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 8px;
}

.tippy-box {
  border-radius: 8px;
  background-color: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: rgba(84, 84, 84, 0.92);
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  top: -8px;
}
